// Make link color
// ----------------------------------

.a-color(@color) {
    color: @color;

    &:hover, &:focus, &.active {
        color: mix(@color, black, 80%);
    }
}

.a-color(@color; @color-active) {
    color: @color;

    &:hover, &:focus, &.active {
        color: @color-active;
    }
}

// Make btn background
// ----------------------------------

.btn-background(@color) {
    background-color: @color;

    &:hover, &:focus {
        background-color: mix(@color, white, 80%);
    }

    &:active, &.active {
        background-color: mix(@color, black, 85%);
    }
}

// Placeholder text
// ----------------------------------
.placeholder(@color: @input-color-placeholder) {
    &::-moz-placeholder           { color: @color;   // Firefox
                                  opacity: 1; } // See https://github.com/twbs/bootstrap/pull/11526
    &:-ms-input-placeholder       { color: @color; } // Internet Explorer 10+
    &::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}

// Opacity
// ----------------------------------
.opacity(@opacity) {
    opacity: @opacity;
    // IE8 filter
    @opacity-ie: (@opacity * 100);
    filter: ~"alpha(opacity=@{opacity-ie})";
}

// Transitions
// ----------------------------------
.transition(@transition) {
  -webkit-transition: @transition;
          transition: @transition;
}
.transition-property(@transition-property) {
  -webkit-transition-property: @transition-property;
          transition-property: @transition-property;
}
.transition-delay(@transition-delay) {
  -webkit-transition-delay: @transition-delay;
          transition-delay: @transition-delay;
}
.transition-duration(@transition-duration) {
  -webkit-transition-duration: @transition-duration;
          transition-duration: @transition-duration;
}
.transition-transform(@transition) {
  -webkit-transition: -webkit-transform @transition;
     -moz-transition: -moz-transform @transition;
       -o-transition: -o-transform @transition;
          transition: transform @transition;
}
